.new-account {
  margin-top: -9px;
  border-radius:1 px;
}
.loginform{

  margin-left: 5px;

}
.first{
  margin-top: 100px;


}
footer{
  color: white;

}
.mobile{
  border:outset;

}
.recharge{
  background-color: #3c763d;
  color: white;

}

.form-control {
  border-radius: 0px;
}
