<div class="mobile">
<div row class="col-md-4">
  <h2>The power of instant Recharge,
  bhrout your Mobile</h2>
  <ul>
    <li><h4>Recharge On The Move</h4>
      Now recharge your mobile/DTH and Data Card numbers from anywhere and at anytime on your mobile device.</li>
    <li><h4>Silky Smooth Experience</h4>
  Enjoy a hassle free and smooth recharge experience on your mobile device.</li>
    <li><h4>Lightning Fast Recharge</h4>
      Add money in your JRI Card and get recharge in less than 30 seconds.</li>
    <li><h4>Safe and Secure Payments</h4>
      Enjoy complete peace of mind with our highly secure payment platform.
    </li>
  </ul>
</div>
<div row class="col-md-6">
<div class="row text-right" style="margin-top: 30px">
  <img src="images/mobile_img_main.jpg">


</div>

</div>

</div>
